
.header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-background {
    width: 100%;
    height: auto;
  }
  
  .header-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  